<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sky_take_out.dish (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
            VALUES
        (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>


    <delete id="deleteByIds">
        delete from sky_take_out.dish where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        SELECT d.*,c.`name` AS categoryName FROM sky_take_out.dish d LEFT OUTER JOIN sky_take_out.category c ON d.category_id = c.id
        <where>
            <if test="name != null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <update id="update">
        update sky_take_out.dish
        <set>
            <if test="name!= null"> name=#{name}, </if>
            <if test="categoryId != null">category_id=#{categoryId},</if>
            <if test="price != null">price=#{price},</if>
            <if test="image != null">image=#{image},</if>
            <if test="description != null">description=#{description},</if>
            <if test="updateTime != null">update_Time=#{updateTime},</if>
            <if test="updateUser != null">update_User=#{updateUser},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="com.sky.entity.Dish">
        select * from sky_take_out.dish
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
